#firstdiv {

    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 760px;


}

#firstheading {


    color: rgb(13, 155, 155);
    margin-left: 80px;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 33px;


}

#navbar {

    margin-top: 55px;
    margin-bottom: 100px;

    font-family: Arial, Helvetica, sans-serif;
    text-align: right;

    background-color: rgba(12, 184, 176, 0.646);
    border-radius: 20px;

    padding: 8px 14px;


}


a{

    text-decoration: none;
    color: black;

}

#Sdiv {


    display: flex;


}

#zohilpicture {

    width: 300px;
    border: 1px solid black;
    border-radius: 50%;

    margin-left: 80px;
    margin-top: -60px;

}

#Sheading {


    font-size: 28px;
    margin-left: 22px;
    margin-top: 38px;



}