body {


    background-color: rgba(246, 235, 220, 0.872);


}

#firstdiv {

    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 760px;


}

#firstheading {


    color: rgb(13, 155, 155);
    margin-left: 80px;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 33px;


}

#navbar {

    margin-top: 55px;
    margin-bottom: 100px;

    font-family: Arial, Helvetica, sans-serif;
    text-align: right;

    background-color: rgba(12, 184, 176, 0.646);
    border-radius: 20px;

    padding: 8px 14px;


}


a{

    text-decoration: none;
    color: black;

}

#Sdiv {


    display: flex;


}

#zohilpicture {

    width: 300px;
    border: 1px solid black;
    border-radius: 50%;

    margin-left: 80px;
    margin-top: -60px;

}

#Sheading {


    font-size: 28px;
    margin-left: 22px;
    margin-top: 38px;



}

#Xbutton {

    margin-left: -310px;
    margin-top: 100px;

    margin-bottom: 50px;
    padding: 5px 10px;
    

    border-radius: 10px;

}

#Gbutton {

    margin-left: -170px;
    margin-top: 100px;

    margin-bottom: 50px;
    padding: 5px 10px;

    border-radius: 10px;

}

#tdiv {

    
    display: flex;
    flex-direction: column;
    align-items: center;


}


#theading {


    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(13, 155, 155);
    font-size: 33px;


}



#fp {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;

    background-color:  rgba(13, 155, 155, 0.275);;

    border: 0px solid black;
    border-radius: 20px;

    padding: 4px 6px;



}